.home__components-main {
    display: flex;
    flex-direction: column;
    background-color: #0D1117;
    height: 100vh;
    width: 100%;

    app-navbar{
        width: 100%;
        height: 70px;
        background-color: rgb(255, 255, 255);
        color: black;
    }
}